/* .pdf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 350px;
    color: white;
} */
.pdf{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 350px;
    color: white;
}

.scroll{
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.controlpanel{
    display: grid;
    grid-template-columns: 10% 80% 10% ;
}