.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* height: 30vh; */
    background-color: rgb(37, 36, 36);
    justify-content: left;
}

.miniposter{
    height: 200px;
    width: 50%;
    border-radius: 25px;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#download{
    background-color: rgba(104, 131, 155, 0.742);
    color:white;
    height: 40px;
    /* margin-top: 10px; */
}

#savebutton{
    background-color: rgba(104, 131, 155, 0.742);
    /* margin-right: 190px; */
}
/* .button{

   display: grid;
   grid-template-columns: 1fr 1fr;
} */