@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,300&family=Roboto+Mono:wght@300;500;700&display=swap');
.scriptdetails{
    height: 100vh;
    background-color: rgb(37, 36, 36);
    width: 100vw;
    font-family: "Raleway",sans-serif;
}

.suggestrows{
    background-color: rgb(37, 36, 36);
    height: 100vh;
}
.tablediv{
    background-color: rgb(37, 36, 36);
    /* /* padding-left: 350px; */
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}