.postedscripts{
    /* position: absolute; */
    /* position: static; */
    /* position: relative; */
    background-color: rgb(37, 36, 36);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-left: 25px;
    margin-right: 25px;

    
}

.description{
    display: none;
  }
.scriptCard:hover {
   display: block;
    transition: all .5s;
    height: 300px;
   border: 1px solid red;
  }

  .scriptCard:hover .description{

    display: block;
    /* height: auto; */
  }

  .description{
    height: 0;
  }
  .scriptCard{
   /* position:absolute ; */
    
    /* position: sticky; */
    display: block;
    
    height: 200px;
    width: 300px;
  }

  .image{
    height: 150px;
  }