.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-top:50px;
	padding-left: 15px;
    /* height: 10px; */
}
.totusers{
	grid-row: 1 /span 2;
}

.userscharts{
    grid-row: 1 /span 2;
	grid-column: 1/span 2;
}

.Postcharts{
	grid-row: 3 /span 2;
	grid-column: 3/span 2;
}

.card {
	background: #060b45 !important;
	color: #ffffff !important;
	margin: 0 2% !important;
}
.infected {
	border-bottom: 10px solid rgba(0, 0, 150, 0.2);
}

.recovered {
	background: rgba(0, 0, 100, 0.3) !important;
	color: #ffffff !important;
	border-bottom: 10px solid rgba(0, 100, 0, 0.5);
}

.deaths {
	border-bottom: 10px solid rgba(150, 0, 0, 0.3);
}
.cardcontent{
	display: grid;
	grid-template-columns: 60% 40%;
	justify-content: left;
	align-items: flex-start;
}

@media only screen and (max-width: 770px) {
	.card {
		margin: 2% 0 !important;
	}
}
