.contents{
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    background-color: rgb(12, 22, 33);
    height: 100vh;

    color:white;

}
.clickcontents{
    display: grid;
    grid-template-columns:0% 100%;
    width: 100%;
    background-color: rgb(12, 22, 33);
    height: 100vh;






}

.adminTitle{
    margin-left:20px;
    text-align: left;
    color: white;
    height: 100px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.refresh{
    text-align: end;
}

.border{
    height: 2px;
    background-color: rgb(131, 131, 131);
    width: 90%;
    margin: 0 50px;
}