.table{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border: .5px none rgb(37, 36, 36);
    border-radius: 10px;
    /* background-image: url('39632.jpg'); */
    
    /* background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    /* background-color: rgb(37, 36, 36); */
    height: 100%;
    width: 100%;
    /* align-items: center;
    justify-content: center; */

}

.tablecontent{
    display: grid;
    grid-template-columns: 10% 20% 70%;
    border: 0 solid rgb(37, 36, 36);
    border-radius: 2.5px;
    justify-content: center;
    color: aliceblue;
    grid-column: 1/span 3;

}

.description{
    grid-column: 3/span 5;
    color: aliceblue;
    /* border: 1px solid white; */
    /* width: 50vh; */
}

.tableborder{
    display: flex;
    width: 50%;
    margin: 100px 400px;
    height: 70%;

}

.nextPage{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.formButton{
    width: 50%;
    /* grid-column: 2/span 1; */

    background-color: blanchedalmond;
    color:black
}