@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,300&family=Roboto+Mono:wght@300;500;700&display=swap');
.rows{
    font-family: 'Raleway' sans-serif ;
height: 150px;
background-color: black;
padding: 30px 0;
}

.rowtitle{
    font-weight: bold;    

    color: white;
    padding-bottom: 5px;
    text-align: start;
    padding-left: 10px;
    font-size: 20px;
}

.poster{
    display: grid;
    background-image: url('https://wallpaperaccess.com/full/1268822.jpg');
    height: 100px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius:5px ;
    margin: 0 3px;
    
}

.imageTitle{
    justify-content: center;
    align-items: center;
    height: 50px;
}