.list{
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction:column;
    height: 632px;
    overflow-y:scroll;
    overflow-x: hidden;
    grid-gap: 0px;
    scrollbar-width: thin;

}




.username{
    height: 1px;
}