.chat{
    display: grid;
    grid-template-columns: 30% 70%;
    /* border: 1px rgb(237,236,237) solid; */
    box-shadow: 1px 1px;
    background-color: rgb(32,44,51);


}


.container{
    background-color: #002B36;
    padding: 20px 30px;
    padding-top: 50px;
}