.user{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 80px;
    /* grid-gap: px; */
    border: 0px black solid;
    background-color: rgb(16,26,33);
}

.currentuser{
        display: grid;
        grid-template-columns: 30% 70%;
        height: 80px;
        /* grid-gap: px; */
        border: 0px black solid;
        background-color: rgb(43,56,66);
    
}

.profile{
    border-radius: 50%;
    width: 40px;
    margin-left:30px ;
    /* margin-right: 10px; */
 z-index: -1000;
}

.userText{
   display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  text-align: center;
   
   /* align-items: center;
   justify-content: start; */
   /* height: 100px; */
   /* margin-bottom: 30px; */
   /* border: 1px solid black; */
   /* line-height: 3px; */
   height: 10px;
   /* overflow: hidden; */
}

.usernamecont{
    margin:0px ;
    color:rgb(207,212,217);
    text-align: start;

}

.usermessage{
    margin:0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgb(109,115,109);
    
}