.upperpart{
    display: grid;
    background: rgb(32,44,51);
    grid-template-columns: 5% 90% 5%;
    border: 1px rgb(255,254,254);
}


.profile{
    padding-top: 5px;
      margin-left: 5px;
      border-radius: 50%;
        width: 40px;
        margin-right: 10px;
    }